samples/flows/Work_Order_Display_Warranties.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASS1_Assign_Contractor_price_Ids</name>
        <label>ASS1: Assign Contractor price Ids</label>
        <locationX>699</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>VarT_ContractorPriceIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOO1_Loop_through_retrieved_Work_Order_Line_Items.Contractor_Price_List__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOO1_Loop_through_retrieved_Work_Order_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS2_Assign_Service_Catalogue_Ids</name>
        <label>ASS2: Assign Service Catalogue Ids</label>
        <locationX>468</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varT_ServiceCatalogueIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOO2_Loop_through_Contractor_Price_record.Service_Catalogue_Item__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOO2_Loop_through_Contractor_Price_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS3_Assign_component_type_and_Component</name>
        <label>ASS3: Assign component type and Component</label>
        <locationX>270</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>varT_ComponenetTypeId_and_ComponentId</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!LOO3_Loop_through_Service_Catalogue_records.Component_Type__r.Id}_{!LOO3_Loop_through_Service_Catalogue_records.Component__r.Id}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_ComponentList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOO3_Loop_through_Service_Catalogue_records.Component__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOO3_Loop_through_Service_Catalogue_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS4_Assign_Component</name>
        <label>ASS4: Assign Component</label>
        <locationX>534</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>varT_ComponentList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOO3_Loop_through_Service_Catalogue_records.Component__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOO3_Loop_through_Service_Catalogue_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS5_Assign_Warranty_Records_Count</name>
        <label>ASS5: Assign Warranty Records Count</label>
        <locationX>182</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>varN_WarrantyCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GET4_Get_Warranty_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC5_Check_if_component_type_list_is_not_Null</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC1_Get_null_check_for_Work_Order_Line_Item_records</name>
        <label>DEC1: Get null check for Work Order Line Item records</label>
        <locationX>858</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SCR2_No_warranty_records_found_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Work_Order_line_Items_List_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET1_Get_work_order_line_item_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOO1_Loop_through_retrieved_Work_Order_Line_Items</targetReference>
            </connector>
            <label>Check Work Order line Items List is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC2_Get_null_check_for_Contractor_Price_Records</name>
        <label>DEC2: Get null check for Contractor Price Records</label>
        <locationX>611</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SCR2_No_warranty_records_found_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Contractor_Price_List_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET2_Get_Contractor_Price_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOO2_Loop_through_Contractor_Price_record</targetReference>
            </connector>
            <label>Check Contractor Price List is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC3_Get_null_Check_for_Service_Catalogue_records</name>
        <label>DEC3: Get null Check for Service Catalogue records</label>
        <locationX>380</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SCR2_No_warranty_records_found_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Service_Catalogue_List_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET3_Get_Service_Catalogue_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOO3_Loop_through_Service_Catalogue_records</targetReference>
            </connector>
            <label>Check Service Catalogue List is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC4_Check_if_component_type_is_populated_or_not</name>
        <label>DEC4: Check if component type is populated or not</label>
        <locationX>534</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>LOO3_Loop_through_Service_Catalogue_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default outcome</defaultConnectorLabel>
        <rules>
            <name>If_Component_type_and_Component_are_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LOO3_Loop_through_Service_Catalogue_records.Component_Type__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LOO3_Loop_through_Service_Catalogue_records.Component__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS3_Assign_component_type_and_Component</targetReference>
            </connector>
            <label>If Component type and Component are populated</label>
        </rules>
        <rules>
            <name>If_Component_type_is_not_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LOO3_Loop_through_Service_Catalogue_records.Component__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LOO3_Loop_through_Service_Catalogue_records.Component_Type__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS4_Assign_Component</targetReference>
            </connector>
            <label>If Component type is not populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC5_Check_if_component_type_list_is_not_Null</name>
        <label>DEC5: Check if component type list is not Null</label>
        <locationX>182</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>SCR2_No_warranty_records_found_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Warranty records found</defaultConnectorLabel>
        <rules>
            <name>Warranty_List_is_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET4_Get_Warranty_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCR1_Show_warranty_records</targetReference>
            </connector>
            <label>Warranty List is not Null</label>
        </rules>
    </decisions>
    <description>Screen flow to display all the warranty records related to given work order</description>
    <environments>Default</environments>
    <formulas>
        <name>forT_ProfileName</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <interviewLabel>Work Order - Display Warranties {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Work Order - Display Warranties</label>
    <loops>
        <name>LOO1_Loop_through_retrieved_Work_Order_Line_Items</name>
        <label>LOO1: Loop through retrieved Work Order Line Items</label>
        <locationX>611</locationX>
        <locationY>350</locationY>
        <collectionReference>GET1_Get_work_order_line_item_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASS1_Assign_Contractor_price_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GET2_Get_Contractor_Price_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LOO2_Loop_through_Contractor_Price_record</name>
        <label>LOO2: Loop through Contractor Price record</label>
        <locationX>380</locationX>
        <locationY>866</locationY>
        <collectionReference>GET2_Get_Contractor_Price_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASS2_Assign_Service_Catalogue_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GET3_Get_Service_Catalogue_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LOO3_Loop_through_Service_Catalogue_records</name>
        <label>LOO3: Loop through Service Catalogue records</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <collectionReference>GET3_Get_Service_Catalogue_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DEC4_Check_if_component_type_is_populated_or_not</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GET4_Get_Warranty_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GET1_Get_work_order_line_item_records</name>
        <label>GET1: Get work order line item records</label>
        <locationX>858</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC1_Get_null_check_for_Work_Order_Line_Item_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET2_Get_Contractor_Price_records</name>
        <label>GET2: Get Contractor Price records</label>
        <locationX>611</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC2_Get_null_check_for_Contractor_Price_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>VarT_ContractorPriceIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contractor_Price__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET3_Get_Service_Catalogue_records</name>
        <label>GET3: Get Service Catalogue records</label>
        <locationX>380</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC3_Get_null_Check_for_Service_Catalogue_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varT_ServiceCatalogueIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service_Catalogue__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET4_Get_Warranty_records</name>
        <label>GET4: Get Warranty records</label>
        <locationX>182</locationX>
        <locationY>1874</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASS5_Assign_Warranty_Records_Count</targetReference>
        </connector>
        <filterLogic>(1 OR (2 AND 5)) AND 3 AND 4</filterLogic>
        <filters>
            <field>ComponentTypeId_and_ComponentId__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varT_ComponenetTypeId_and_ComponentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Component__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varT_ComponentList</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Facility__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Facility__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Component_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Warranty__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Show warranty records fetched in Get warranty records</description>
        <name>SCR1_Show_warranty_records</name>
        <label>SCR1: Show warranty records</label>
        <locationX>50</locationX>
        <locationY>2198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DT_WarrantyRecords</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Warranties ({!varN_WarrantyCount})&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>forT_ProfileName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>External User</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Copy_2_of_WorkOrder_Records</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Warranty__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GET4_Get_Warranty_records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Warranty_Number__c&quot;,&quot;guid&quot;:&quot;column-a8be&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Warranty Number&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Component_Name__c&quot;,&quot;guid&quot;:&quot;column-d84d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Component&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Component_Type_Name__c&quot;,&quot;guid&quot;:&quot;column-4873&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Component Type&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Type_of_Warranty__c&quot;,&quot;guid&quot;:&quot;column-5630&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Type of Warranty&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Warranty_End_Date__c&quot;,&quot;guid&quot;:&quot;column-62e0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Warranty End Date&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Show warranty records fetched in Get warranty records</description>
        <name>SCR2_No_warranty_records_found_screen</name>
        <label>SCR2: No warranty records found screen</label>
        <locationX>314</locationX>
        <locationY>2198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DT_WarrantyRecords1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Warranties (0)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>forT_ProfileName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>External User</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>varT_NoRecordsFoundScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;No Warranty Records found.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>732</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET1_Get_work_order_line_item_records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Warranty record Id</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>varN_WarrantyCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varR_ContractorPriceRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contractor_Price__c</objectType>
    </variables>
    <variables>
        <name>varR_ServiceCatalogueRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service_Catalogue__c</objectType>
    </variables>
    <variables>
        <description>Warranty records</description>
        <name>varR_Warranties</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Warranty__c</objectType>
    </variables>
    <variables>
        <name>varR_WarrantiesList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Warranty__c</objectType>
    </variables>
    <variables>
        <description>This is used to store work order line Item ids</description>
        <name>varR_WorkOrderLineItemIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varT_ComponenetTypeId_and_ComponentId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varT_ComponentList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varT_ComponentTypeList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarT_ContractorPriceIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varT_ServiceCatalogueIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
